@model expenceTracker.Models.expectedExpences

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>expectedExpences</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.predictedCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.predictedCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expenceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expenceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateDue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="expectedExpences" asp-action="Index" asp-route-expenceId="@TempData.Peek("expenceId");" asp-route-userId="@TempData.Peek("userId");">Back</a>
</div>
