@model IEnumerable<expenceTracker.Models.expectedExpences>

@{
    ViewData["Title"] = "Index";
}


<h1>Expence Predictions</h1>


<p>
    <a asp-controller="monthlyExpences" asp-action="Index" >Back</a>
    <a asp-controller="expectedExpences" asp-action="Create" asp-route-expenceId="@ViewBag.expenceId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
                Type
            </th>
            <th>
                Frequency
            </th>
            <th>
                Total Cost for the Month
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.frequency)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.predictedCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-expenceId="@item.expenceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
