@model IEnumerable<expenceTracker.Models.actualExpence>

@{
    ViewData["Title"] = "Index";
}

<h1>Expence History</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.finalCost)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datePayed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.finalCost)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datePayed)
            </td>
            <td>

                <a asp-action="FinalDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="expenceFinalDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
        <a asp-action="Index" >Return to Prediction</a>
    </tbody>
</table>
