@model IEnumerable<expenceTracker.Models.expectedExpences>

@{
    ViewData["Title"] = "Predicted expences";
    //https://localhost:7267/actualExpences
    //https://localhost:7267/expenceMonths
}

<h1>Predicted Expences</h1>

<p>
    <a asp-action="Create" asp-route-expenceId="@ViewBag.expenceId" asp-route-userId="@ViewBag.userId" >Create New </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.predictedCost)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.dateDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateDue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.predictedCost)$
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.dateDue)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="ResolveExpence" asp-route-id="@item.Id" asp-route-profileId="@item.userId" asp-route-predictedCost="@item.predictedCost">Resolve Expence</a>
            </td>
        </tr>
        }
        <a asp-action="expenceMonthView"> View resolved expences</a>
    </tbody>
</table>
