@model IEnumerable<ExpenseTracker.Models.ActualExpense>

@{
    ViewData["Title"] = "Index";
}

<h1>Expense History</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.finalCost)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datePaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.finalCost)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datePaid)
                </td>
                <td>

                    <a asp-action="FinalDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="ExpenseFinalDelete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        <a asp-action="Index">Return to Prediction</a>
    </tbody>
</table>
