@model ExpenseTracker.Models.ActualExpense

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actual Expense</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.finalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.finalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.profileId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.profileId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.expenseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.expenseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.datePaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.datePaid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="FinalEdit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="ExpenseMonthView">Back to List</a>
</div>
