@model IEnumerable<ExpenseTracker.Models.ExpenseMonth>

@{
    ViewData["Title"] = "Predicted Expenses";
}

<h1>Predicted Expenses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.predictedCost)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.dateDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateDue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.predictedCost)$
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.dateDue)
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="ResolveExpense" asp-route-id="@item.Id" asp-route-ProfileId="@item.profileId" asp-route-PredictedCost="@item.predictedCost">Resolve Expense</a>
                </td>
            </tr>
        }
        <a asp-action="ExpenseMonthView"> View resolved Expenses</a>
    </tbody>
</table>
