@model IEnumerable<expenceTracker.Models.monthlyExpence>

@{
    ViewData["Title"] = "Index";
}

<h1>Expense Months</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>

            <th>
                Budget
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.date.ToString("MMMM yyyy")
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.budget)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="expectedExpences" asp-action="Index" asp-route-expenceId="@item.Id">Predictions</a> |
                <a asp-controller="actualExpences" asp-action="Redirect" asp-route-expenceId="@item.Id">Final Expences</a>
            </td>
        </tr>
}
    </tbody>
</table>
